<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992000967854-svrlc49tmo2fqv5bvv30fot4pc8gu3a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992000967854-svrlc49tmo2fqv5bvv30fot4pc8gu3a1</string>
	<key>API_KEY</key>
	<string>AIzaSyALGIUZr3aeln4iO8VlGrF48F5nSnVHTlk</string>
	<key>GCM_SENDER_ID</key>
	<string>992000967854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.dhari.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-83bd9</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-83bd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992000967854:ios:83a794fa183c3174</string>
	<key>DATABASE_URL</key>
	<string>https://quizapp-83bd9.firebaseio.com</string>
</dict>
</plist>